doctype html
html
  head
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/style.less")
  body
    .container
      .row
        .col-xs-6 #{locals.whisper}
        .col-xs-6 hello plz work

    script(src="/js/jquery-1.11.2.min.js")
    script(src="/js/bootstrap.min.js")
